
.ikon-makKauHijau {
    color: green;
}

.ikon-merahMakNgah {
    color: red;
}

.ikon-biruLangit {
    color: mediumblue;
}

.ikon-hitamHangit {
    color: black;
}

.ikon-besaqGajah {
    font-size: 25px;
}
